<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
#inf{
        font-size: 200%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
body{
    font-family: 'Open Sans', sans-serif;
     color: #000000
}