body::before {
  background: url("https://jacquiegartonsmith.files.wordpress.com/2013/10/stethoscope-and-keyboard-royalty-free-frpm-stockunlimited-for-the-waiting-room.jpg");
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  position:absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;=
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

body{
     font-weight: bold;
     color: #000000
}