<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

#inf{

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
body{
     color: #000000
}

#text{
    font-family: 'Open Sans', sans-serif;
    font-weight:150;
}